/* RESET*/
html,body,div,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,p,blockquote,fieldset,input,abbr,article,aside,command,details,figcaption,figure,footer,header,hgroup,mark,meter,nav,output,progress,section,summary,time {margin: 0; padding: 0; }
h1,h2,h3,h4,h5,h6,pre,code,address,caption,cite,code,em,strong,th,figcaption {font-size: 1em; font-weight: normal; font-style: normal; }
fieldset,iframe {border: none; }
caption,th {text-align: left; }
table {border-collapse: collapse; border-spacing: 0; }
article,aside,footer,header,hgroup,nav,section,figure,figcaption {display: block; }

html, body {width: 100%;height: 100%; position:relative;}
html {background-color:#fff; }
img {border: 0; }
a {text-decoration: none;color: #515151; &:focus {outline: none;} }
i {font-style: normal;}
ul, li {list-style: none; }
p {max-height: 100%;}
.clearfix:after, .clearfix:before {content: "";display: table;height: 0px;clear: both;visibility: hidden;}
.clearfix{ *zoom:1; }


body {
    font-family: 'microsoft yahei';
}



// listView
#listView {
    perspective: 1200px;
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;

    top: 0;
    left: 0;
    z-index: 100;
    .list-wrap {
        position: relative;
        width: 100%;
        height: 100%;

        transition: all 1s;
        li {
            box-sizing: border-box;
            position: absolute;
            overflow: hidden;
            cursor: pointer;
            //transform-style: preserve-3d;
            transition: left 1s, top 1s, width 1s, height 1s;
            border: 10px solid transparent;

            div {
                position: absolute;
                width: 100%;
                height: 100%;

                opacity: 0;
                //transform: translate3d(0, -400px, -100px) rotateX(200deg);
                transform: translate3d(0, 300px, -100px);
                //transform: translateX(100%);
                //transform-origin: top;
                background-color: rgba(255,255,255, 1);
            }
            img {
                position: absolute;
                left: 50%;
                top: 50%;
                width: 60%;
                max-width: 300px;
                //max-height: 80%;

                transform: translate(-50%, -50%);
                transition: all 0.2s;
            }

            &.selected {
                z-index: 101;
                img {
                    transform: translate(-50%, -50%) scale(1.2);
                }
            }        
        }

    }
    
    .controls {
        position: absolute;
        top: 0;
        right: 0;

        width: 10%;
        color: #fff;
        line-height: 50px;
        font-size: 30px;
        
        div {
            margin: 60% 20%;
            white-space: nowrap;
            cursor: pointer;
        }
        width: 0;
        transition: all 1s;
    }

    &.active {
        .list-wrap {
            li {
                div {
                    opacity: 1;
                    transform: none;
                }

                @for $i from 1 through 30 {
                    &:nth-child(#{$i}) {
                        div {
                            transition: all 1s 0.1s * $i;
                        }
                    }
                }
            }        
        }
    }

    &.show-control {
        .list-wrap {
            width: 90%;
        }
        .controls {
            width: 10%;
        }
    }

    &.active.choosed {
        .list-wrap {
            li {
                opacity: 0;
                &.selected {
                    opacity: 1;
                }
            }            
        }
    }
    &.inactive {
        transition: opacity 1s;
        opacity: 0;
    }
}

// display view
#displayView {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 100;

    top: 0;
    left: 0;

    font-weight: 100;
    color: rgba(255,255,255,0.6);

    &.bright {
        color: rgba(0,0,0,0.6);
    }
    

}

#displayView .display-window {
    box-sizing: border-box;
    position: absolute;
    border: 1px solid #888;

    .window-control {
        margin: 0 auto;
        width: 100%;
        text-align: right;
        background-color: rgba(255,255,255,0.3);
        font-size: 40px;
        i.btn {
            cursor: pointer;
            margin: 10px 10px;
            vertical-align: middle;
        }
        i.close-btn {
            font-size: 70px;
            line-height: 40px;
            margin-right: 20px;
        }
    }
    .colors-control {
        position: absolute;
        width: 100%;
        left: 0%;
        bottom: 0;
        font-size: 30px;
        text-align: right;
        //background-color: rgba(255,255,255,0.3);
        .color {
            display: inline-block;
            box-sizing: border-box;
            width: 40px;
            height: 40px;
            margin: 20px 10px;
            opacity: 0.3;
            cursor: pointer;
            box-shadow: 0 0 4px #888;
            outline: 1px solid #333;
            &.selected {
                opacity: 1;
            }
            &.white {
                background-color: #eee;
                outline-color: #eee;
            }
            &.black {
                background-color: #333;
                outline-color: #333;
            }
            &.red {
                background-color: #f00;
                outline-color: #f00;
            }
        }
    }
}

#displayView .display-manager {
    position: absolute;
    width: 100%;
    height: 100%; 

    .setting-btn {
        position: absolute;
        z-index: 102;
        top: 0;
        left: 0;
        font-size: 60px;
        line-height: 60px;
        width: 60px;
        height: 60px;
        margin: 0.5rem;

        opacity: 0.7;
        cursor: pointer;
        transition: all 1s;
        &:hover {
            opacity: 1;
        }
    }
    .setting-wrap {
        display: none;
        position: absolute;
        z-index: 102;
        width: 100%;
        height: 100%;    
        background-color: rgba(0,0,0,0.8);    

        transition: all 1s;
        .btn-wrap {
            position: absolute;
            width: 100%;
            top: 50%;
            transform: translateY(-50%);
            text-align: center;
            font-size: 10rem;

            .btn {
                margin: 10%;
                vertical-align: middle;
                display: inline-block;
                opacity: 0.7;
                cursor: pointer;
                &:hover {
                    opacity: 1;
                }
            }

            .lock-btn {
                display: inline-block;
            }
            .unlock-btn {
                display: inline-block;
                display: none;
            }
        }
    }

    &.show {
        .setting-btn {
            transform: translate(-200%, -200%);
        }
        .setting-wrap {
            display: block;
        }
    }

}













